* {
  font-family: 'Arimo', sans-serif;
}
body {
  padding:50px;
  background: url("../img/ffflux.svg");
  background-size:cover;

}

#map {
  position: absolute;
  top:0;
  left:0;
  width:900px;
  height:600px;
}

#map-container {
  position:relative;
}
